@charset "UTF-8";
@-webkit-keyframes mainvisual-animation {
  0% {
    -webkit-transform: none;
            transform: none;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  45% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes mainvisual-animation {
  0% {
    -webkit-transform: none;
            transform: none;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  45% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.js-fade-in.up > .fade-in-item {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.js-fade-in--active.up > .fade-in-item {
  -webkit-transform: none;
          transform: none;
}

.js-fade-in.left > .fade-in-item {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.js-fade-in--active.left > .fade-in-item {
  -webkit-transform: none;
          transform: none;
}

.js-fade-in.right > .fade-in-item {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}

.js-fade-in--active.right > .fade-in-item {
  -webkit-transform: none;
          transform: none;
}

.js-fade-in > .fade-in-item {
  opacity: 0;
}

.js-fade-in--active > .fade-in-item {
  opacity: 1;
  -webkit-transition: opacity 1s ease-out, -webkit-transform 1s ease-out;
  transition: opacity 1s ease-out, -webkit-transform 1s ease-out;
  transition: transform 1s ease-out, opacity 1s ease-out;
  transition: transform 1s ease-out, opacity 1s ease-out, -webkit-transform 1s ease-out;
}

@media print, (prefers-reduced-motion: reduce) {
  .js-fade-in--active > .fade-in-item {
    -webkit-transition: opacity 1s ease-out, -webkit-transform 1s ease-out !important;
    transition: opacity 1s ease-out, -webkit-transform 1s ease-out !important;
    transition: transform 1s ease-out, opacity 1s ease-out !important;
    transition: transform 1s ease-out, opacity 1s ease-out, -webkit-transform 1s ease-out !important;
  }
}

.js-fade-in--active > .fade-in-item:nth-child(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

@media print, (prefers-reduced-motion: reduce) {
  .js-fade-in--active > .fade-in-item:nth-child(1) {
    -webkit-transition-delay: 0.2s !important;
            transition-delay: 0.2s !important;
  }
}

.js-fade-in--active > .fade-in-item:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

@media print, (prefers-reduced-motion: reduce) {
  .js-fade-in--active > .fade-in-item:nth-child(2) {
    -webkit-transition-delay: 0.4s !important;
            transition-delay: 0.4s !important;
  }
}

.js-fade-in--active > .fade-in-item:nth-child(3) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

@media print, (prefers-reduced-motion: reduce) {
  .js-fade-in--active > .fade-in-item:nth-child(3) {
    -webkit-transition-delay: 0.6s !important;
            transition-delay: 0.6s !important;
  }
}

.js-fade-in--active > .fade-in-item:nth-child(4) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

@media print, (prefers-reduced-motion: reduce) {
  .js-fade-in--active > .fade-in-item:nth-child(4) {
    -webkit-transition-delay: 0.8s !important;
            transition-delay: 0.8s !important;
  }
}

.js-fade-in--active > .fade-in-item:nth-child(5) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

@media print, (prefers-reduced-motion: reduce) {
  .js-fade-in--active > .fade-in-item:nth-child(5) {
    -webkit-transition-delay: 1s !important;
            transition-delay: 1s !important;
  }
}

.js-fade-in--active > .fade-in-item:nth-child(6) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

@media print, (prefers-reduced-motion: reduce) {
  .js-fade-in--active > .fade-in-item:nth-child(6) {
    -webkit-transition-delay: 1.2s !important;
            transition-delay: 1.2s !important;
  }
}

.js-fade-in--active > .fade-in-item:nth-child(7) {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

@media print, (prefers-reduced-motion: reduce) {
  .js-fade-in--active > .fade-in-item:nth-child(7) {
    -webkit-transition-delay: 1.4s !important;
            transition-delay: 1.4s !important;
  }
}

.js-fade-in--active > .fade-in-item:nth-child(8) {
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}

@media print, (prefers-reduced-motion: reduce) {
  .js-fade-in--active > .fade-in-item:nth-child(8) {
    -webkit-transition-delay: 1.6s !important;
            transition-delay: 1.6s !important;
  }
}

.js-fade-in--active > .fade-in-item:nth-child(9) {
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s;
}

@media print, (prefers-reduced-motion: reduce) {
  .js-fade-in--active > .fade-in-item:nth-child(9) {
    -webkit-transition-delay: 1.8s !important;
            transition-delay: 1.8s !important;
  }
}

.js-fade-in--active > .fade-in-item:nth-child(10) {
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

@media print, (prefers-reduced-motion: reduce) {
  .js-fade-in--active > .fade-in-item:nth-child(10) {
    -webkit-transition-delay: 2s !important;
            transition-delay: 2s !important;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
 "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
 "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #000;
}

.hover-under-bar {
  display: inline-block;
  position: relative;
}

.hover-under-bar::after {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  width: 100%;
  height: 1px;
  background-color: #000;
  content: "";
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transform-origin: right;
          transform-origin: right;
}

@media print, (prefers-reduced-motion: reduce) {
  .hover-under-bar::after {
    -webkit-transition: -webkit-transform 0.5s ease !important;
    transition: -webkit-transform 0.5s ease !important;
    transition: transform 0.5s ease !important;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease !important;
  }
}

.hover-under-bar:hover::after {
  -webkit-transform: none;
          transform: none;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.inline-block {
  display: inline-block;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

@media print, (prefers-reduced-motion: reduce) {
  .header {
    -webkit-transition: background-color 0.5s ease !important;
    transition: background-color 0.5s ease !important;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.header__logo-wrapper {
  position: relative;
  position: relative;
  z-index: 20;
  width: 160px;
  height: 32px;
}

@media (min-width: 768px) {
  .header__logo-wrapper {
    width: 200px;
    height: 40px;
  }
}

.header__main-logo {
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  -webkit-filter: drop-shadow(0px 0px 3px #000);
          filter: drop-shadow(0px 0px 3px #000);
}

@media print, (prefers-reduced-motion: reduce) {
  .header__main-logo {
    -webkit-transition: opacity 0.5s ease !important;
    transition: opacity 0.5s ease !important;
  }
}

.header__sub-logo {
  opacity: 1;
  position: absolute;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

@media print, (prefers-reduced-motion: reduce) {
  .header__sub-logo {
    -webkit-transition: opacity 0.5s ease !important;
    transition: opacity 0.5s ease !important;
  }
}

.header__lg {
  display: none;
}

@media (min-width: 768px) {
  .header__lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: calc(100% - 200px);
    padding-left: 80px;
  }
}

@media (min-width: 1024px) {
  .header__lg {
    padding-left: 120px;
  }
}

@media (min-width: 768px) {
  .header__lg-nav {
    font-weight: 800;
    font-size: 1.4rem;
  }
}

@media (min-width: 1024px) {
  .header__lg-nav {
    font-size: 1.6rem;
  }
}

.header__lg-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__lg-nav-item {
  margin-right: 30px;
}

.header__lg-nav-item:last-of-type {
  margin-right: 0;
}

.header__lg-nav-item > a {
  color: #000;
  -webkit-transition: color 0.5s ease, -webkit-filter 0.5s ease;
  transition: color 0.5s ease, -webkit-filter 0.5s ease;
  transition: color 0.5s ease, filter 0.5s ease;
  transition: color 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
}

@media print, (prefers-reduced-motion: reduce) {
  .header__lg-nav-item > a {
    -webkit-transition: color 0.5s ease, -webkit-filter 0.5s ease !important;
    transition: color 0.5s ease, -webkit-filter 0.5s ease !important;
    transition: color 0.5s ease, filter 0.5s ease !important;
    transition: color 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease !important;
  }
}

@media (min-width: 768px) {
  .header__sm {
    display: none;
  }
}

.header__sm--open .header__sm-hamburger > span:first-of-type {
  -webkit-transform: translateY(26px);
          transform: translateY(26px);
}

.header__sm--open .header__sm-hamburger > span:last-of-type {
  -webkit-transform: translateY(-26px);
          transform: translateY(-26px);
}

.header__sm--open .header__sm-hamburger-text:first-of-type {
  opacity: 0;
}

.header__sm--open .header__sm-hamburger-text:last-of-type {
  opacity: 1;
}

.header__sm--open .header__sm-slide {
  visibility: visible;
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.header__sm--open .header__sm-nav-item {
  -webkit-transform: none;
          transform: none;
}

.header__sm--open .header__sm-nav-item:nth-child(1) {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

@media print, (prefers-reduced-motion: reduce) {
  .header__sm--open .header__sm-nav-item:nth-child(1) {
    -webkit-transition-delay: 0.05s !important;
            transition-delay: 0.05s !important;
  }
}

.header__sm--open .header__sm-nav-item:nth-child(2) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

@media print, (prefers-reduced-motion: reduce) {
  .header__sm--open .header__sm-nav-item:nth-child(2) {
    -webkit-transition-delay: 0.1s !important;
            transition-delay: 0.1s !important;
  }
}

.header__sm--open .header__sm-nav-item:nth-child(3) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

@media print, (prefers-reduced-motion: reduce) {
  .header__sm--open .header__sm-nav-item:nth-child(3) {
    -webkit-transition-delay: 0.15s !important;
            transition-delay: 0.15s !important;
  }
}

.header__sm--open .header__sm-nav-item:nth-child(4) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

@media print, (prefers-reduced-motion: reduce) {
  .header__sm--open .header__sm-nav-item:nth-child(4) {
    -webkit-transition-delay: 0.2s !important;
            transition-delay: 0.2s !important;
  }
}

.header__sm--open .header__sm-nav-item:nth-child(5) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

@media print, (prefers-reduced-motion: reduce) {
  .header__sm--open .header__sm-nav-item:nth-child(5) {
    -webkit-transition-delay: 0.25s !important;
            transition-delay: 0.25s !important;
  }
}

.header__sm--open .header__sm-nav-item:nth-child(6) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

@media print, (prefers-reduced-motion: reduce) {
  .header__sm--open .header__sm-nav-item:nth-child(6) {
    -webkit-transition-delay: 0.3s !important;
            transition-delay: 0.3s !important;
  }
}

.header__sm--open .header__sm-nav-item:nth-child(7) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

@media print, (prefers-reduced-motion: reduce) {
  .header__sm--open .header__sm-nav-item:nth-child(7) {
    -webkit-transition-delay: 0.35s !important;
            transition-delay: 0.35s !important;
  }
}

.header__sm--open .header__sm-nav-item:nth-child(8) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

@media print, (prefers-reduced-motion: reduce) {
  .header__sm--open .header__sm-nav-item:nth-child(8) {
    -webkit-transition-delay: 0.4s !important;
            transition-delay: 0.4s !important;
  }
}

.header__sm--open .header__sm-nav-item:nth-child(9) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

@media print, (prefers-reduced-motion: reduce) {
  .header__sm--open .header__sm-nav-item:nth-child(9) {
    -webkit-transition-delay: 0.45s !important;
            transition-delay: 0.45s !important;
  }
}

.header__sm--open .header__sm-nav-item:nth-child(10) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

@media print, (prefers-reduced-motion: reduce) {
  .header__sm--open .header__sm-nav-item:nth-child(10) {
    -webkit-transition-delay: 0.5s !important;
            transition-delay: 0.5s !important;
  }
}

.header__sm-hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
  width: 70px;
  height: 37px;
  padding: 5px;
  background-color: transparent;
  color: #000;
  font-weight: 800;
  font-size: 1.4rem;
}

.header__sm-hamburger > span {
  display: block;
  width: 80%;
  height: 1px;
  background-color: #000;
  -webkit-transition: background-color 0.5s ease-out, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s ease-out, -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out, background-color 0.5s ease-out;
  transition: transform 0.5s ease-out, background-color 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

@media print, (prefers-reduced-motion: reduce) {
  .header__sm-hamburger > span {
    -webkit-transition: background-color 0.5s ease-out, -webkit-transform 0.5s ease-out !important;
    transition: background-color 0.5s ease-out, -webkit-transform 0.5s ease-out !important;
    transition: transform 0.5s ease-out, background-color 0.5s ease-out !important;
    transition: transform 0.5s ease-out, background-color 0.5s ease-out, -webkit-transform 0.5s ease-out !important;
  }
}

.header__sm-hamburger-text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(2px);
          transform: translateY(-50%) translateX(2px);
  letter-spacing: 0.2em;
  -webkit-transition: opacity 1s ease, color 0.5s ease;
  transition: opacity 1s ease, color 0.5s ease;
}

@media print, (prefers-reduced-motion: reduce) {
  .header__sm-hamburger-text {
    -webkit-transition: opacity 1s ease, color 0.5s ease !important;
    transition: opacity 1s ease, color 0.5s ease !important;
  }
}

.header__sm-hamburger-text:first-of-type {
  opacity: 1;
}

.header__sm-hamburger-text:last-of-type {
  opacity: 0;
}

.header__sm-slide {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
  width: 60%;
  padding: 40px 20px;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  -webkit-transition: background-color 0.5s ease, opacity 0.5s ease, visibility 0.5s ease, -webkit-transform 0.5s ease;
  transition: background-color 0.5s ease, opacity 0.5s ease, visibility 0.5s ease, -webkit-transform 0.5s ease;
  transition: background-color 0.5s ease, transform 0.5s ease,
 opacity 0.5s ease, visibility 0.5s ease;
  transition: background-color 0.5s ease, transform 0.5s ease,
 opacity 0.5s ease, visibility 0.5s ease, -webkit-transform 0.5s ease;
}

@media print, (prefers-reduced-motion: reduce) {
  .header__sm-slide {
    -webkit-transition: background-color 0.5s ease, opacity 0.5s ease, visibility 0.5s ease, -webkit-transform 0.5s ease !important;
    transition: background-color 0.5s ease, opacity 0.5s ease, visibility 0.5s ease, -webkit-transform 0.5s ease !important;
    transition: background-color 0.5s ease, transform 0.5s ease,
 opacity 0.5s ease, visibility 0.5s ease !important;
    transition: background-color 0.5s ease, transform 0.5s ease,
 opacity 0.5s ease, visibility 0.5s ease, -webkit-transform 0.5s ease !important;
  }
}

.header__sm-nav {
  margin-bottom: 60px;
  font-weight: 800;
  font-size: 1.6rem;
}

.header__sm-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 50px;
}

.header__sm-nav-item {
  position: relative;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  margin-bottom: 20px;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

@media print, (prefers-reduced-motion: reduce) {
  .header__sm-nav-item {
    -webkit-transition: -webkit-transform 1s ease !important;
    transition: -webkit-transform 1s ease !important;
    transition: transform 1s ease !important;
    transition: transform 1s ease, -webkit-transform 1s ease !important;
  }
}

.header__sm-nav-item:last-of-type {
  margin-bottom: 0;
}

.header__sm-nav-item::before {
  position: absolute;
  top: 3px;
  left: -25px;
  width: 15px;
  height: 15px;
  background-image: url(../img/logo02.png);
  background-size: cover;
  content: "";
}

.header__sm-nav-item > a {
  display: block;
  width: 100%;
  color: #000;
  -webkit-transition: color 0.5s ease, -webkit-filter 0.5s ease;
  transition: color 0.5s ease, -webkit-filter 0.5s ease;
  transition: color 0.5s ease, filter 0.5s ease;
  transition: color 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
}

@media print, (prefers-reduced-motion: reduce) {
  .header__sm-nav-item > a {
    -webkit-transition: color 0.5s ease, -webkit-filter 0.5s ease !important;
    transition: color 0.5s ease, -webkit-filter 0.5s ease !important;
    transition: color 0.5s ease, filter 0.5s ease !important;
    transition: color 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease !important;
  }
}

.header__sm-button {
  margin: 0 auto;
}

.reserve-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 30px;
  background-color: #978f10;
  color: #fff;
  font-weight: 800;
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .reserve-button {
    padding: 14px 30px;
  }
}

@media (min-width: 1024px) {
  .reserve-button {
    padding: 16px 37px;
    font-size: 1.6rem;
  }
}

.reserve-button__img {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  margin-right: 10px;
}

@media (min-width: 768px) {
  .reserve-button__img {
    width: 20px;
  }
}

.reserve-form {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 30;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
  width: 85%;
  padding: 5%;
  border: solid 1px #707070;
  background-color: #fff;
  text-align: center;
  -webkit-transition: opacity 0.5s ease, visibility 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, visibility 0.5s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease, -webkit-transform 0.5s ease;
}

@media print, (prefers-reduced-motion: reduce) {
  .reserve-form {
    -webkit-transition: opacity 0.5s ease, visibility 0.5s ease, -webkit-transform 0.5s ease !important;
    transition: opacity 0.5s ease, visibility 0.5s ease, -webkit-transform 0.5s ease !important;
    transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease !important;
    transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease, -webkit-transform 0.5s ease !important;
  }
}

@media (min-width: 768px) {
  .reserve-form {
    width: 550px;
    padding: 30px 60px 90px;
  }
}

.reserve-form__title {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: solid 1px #e7e7e7;
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  .reserve-form__title {
    margin-bottom: 35px;
    padding-bottom: 30px;
    font-size: 2rem;
  }
}

.reserve-form__close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

@media print, (prefers-reduced-motion: reduce) {
  .reserve-form__close-button {
    -webkit-transition: opacity 0.3s ease !important;
    transition: opacity 0.3s ease !important;
  }
}

.reserve-form__close-button:hover {
  opacity: 0.7;
}

.reserve-form__close-button > span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 2px;
  border-radius: 2px;
  background-color: #707070;
}

.reserve-form__close-button > span:first-of-type {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.reserve-form__close-button > span:last-of-type {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.reserve-form__list {
  margin-bottom: 35px;
}

@media (min-width: 768px) {
  .reserve-form__list {
    margin-bottom: 65px;
  }
}

.reserve-form__list > dd:last-of-type {
  margin-bottom: 0;
}

.reserve-form__list-title {
  margin-bottom: 5px;
  font-size: 1.4rem;
  text-align: left;
}

@media (min-width: 768px) {
  .reserve-form__list-title {
    margin-bottom: 10px;
    font-size: 1.6rem;
  }
}

.reserve-form__list-title .inline-block {
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .reserve-form__list-title .inline-block {
    font-size: 1.4rem;
  }
}

.reserve-form__list-input-wrapper {
  margin-bottom: 15px;
}

.reserve-form__list-input {
  width: 100%;
  padding: 5px 10px;
  border: solid 1px #e7e7e7;
  font-size: 1.2rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #000;
}

@media (min-width: 768px) {
  .reserve-form__list-input {
    font-size: 1.4rem;
  }
}

.reserve-form__button {
  width: 100%;
  max-width: 180px;
  padding: 7px;
  border: solid 1px #707070;
  background-color: #fff;
  font-size: 1.4rem;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease, color 0.3s ease, background-color 0.3s ease;
  transition: opacity 0.3s ease, color 0.3s ease, background-color 0.3s ease;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #000;
}

@media print, (prefers-reduced-motion: reduce) {
  .reserve-form__button {
    -webkit-transition: opacity 0.3s ease, color 0.3s ease, background-color 0.3s ease !important;
    transition: opacity 0.3s ease, color 0.3s ease, background-color 0.3s ease !important;
  }
}

@media (min-width: 768px) {
  .reserve-form__button {
    width: auto;
    max-width: none;
    padding: 8px 67px;
    font-size: 1.6rem;
  }
}

.reserve-form__button:hover {
  opacity: 0.7;
  background-color: #707070;
  color: #fff;
}

.reserve-form--active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mask {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  background-color: #fff;
  -webkit-transition: opacity 0.5s ease, visibility 0.5s ease;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

@media print, (prefers-reduced-motion: reduce) {
  .mask {
    -webkit-transition: opacity 0.5s ease, visibility 0.5s ease !important;
    transition: opacity 0.5s ease, visibility 0.5s ease !important;
  }
}

.mask--active {
  visibility: visible;
  opacity: 0.7;
}

.footer {
  padding-top: 65px;
  background-image: url(../img/bg03.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: 500;
}

.footer__list {
  margin: 0 auto 55px;
  font-size: 1.8rem;
  letter-spacing: 0.75em;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

@media (min-width: 768px) {
  .footer__list {
    margin: 0 auto 95px;
  }
}

.footer__list-item {
  margin-right: 35px;
}

.footer__list-item:last-of-type {
  margin-right: 0;
}

.footer__list-item > a {
  display: inline-block;
  position: relative;
  color: #000;
}

.footer__list-item > a::after {
  position: absolute;
  top: 0;
  right: -3px;
  -webkit-transform: scale(0);
          transform: scale(0);
  width: 1px;
  height: 85%;
  background-color: #000;
  content: "";
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@media print, (prefers-reduced-motion: reduce) {
  .footer__list-item > a::after {
    -webkit-transition: -webkit-transform 0.5s ease !important;
    transition: -webkit-transform 0.5s ease !important;
    transition: transform 0.5s ease !important;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease !important;
  }
}

.footer__list-item > a:hover::after {
  -webkit-transform: none;
          transform: none;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.footer__logo-wrapper {
  width: 145px;
  margin: 0 auto 40px;
}

@media (min-width: 768px) {
  .footer__logo-wrapper {
    margin: 0 auto 70px;
  }
}

.footer__adress, .footer__phonenumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .footer__adress, .footer__phonenumber {
    font-size: 1.6rem;
  }
}

.footer__adress {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .footer__adress {
    margin-bottom: 20px;
  }
}

.footer__phonenumber {
  margin-bottom: 45px;
}

@media (min-width: 768px) {
  .footer__phonenumber {
    margin-bottom: 60px;
  }
}

.footer__adress-text:first-of-type, .footer__phonenumber-text:first-of-type {
  margin-right: 20px;
}

@media not all and (min-width: 375px) {
  .footer__adress-text:first-of-type, .footer__phonenumber-text:first-of-type {
    margin-right: 10px;
  }
}

.footer__adress-text:last-of-type {
  letter-spacing: 0.2em;
}

.footer__copyright {
  padding: 20px 0;
  background-color: #000;
  color: #fff;
  font-size: 1.2rem;
  line-height: 2;
  text-align: center;
}
/*# sourceMappingURL=base.css.map */
