@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@keyframes mainvisual-animation {
  0% {
    transform: none;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  45% { 
    transform: scale(1.2);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
